$primary-color: #fff;
$primary-font-family: 'OpenSans';
$transition-regular: all .3s ease;

body {
	background-color: #000;
	font-size: 16px;
	font-family: $primary-font-family;
	color: $primary-color;
	font-weight: 300;
}

a {
	text-decoration: none;
}

p {
	line-height: 20px;
	color: #fff;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;

	img {
		height: 14rem;
	}

}

footer {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		color: #c2c2c2
	}
}

/* Fonts */
@font-face{
	font-family:OpenSans;
	src:url(../fonts/OpenSans-Bold.ttf);
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:OpenSans;
	src:url(../fonts/OpenSans-BoldItalic.ttf);
	font-weight:bold;
	font-style:italic;
}

@font-face{
	font-family:OpenSans;
	src:url(../fonts/OpenSans-Light.ttf);
	font-weight:300;
	font-style:regular;
}

@font-face{
	font-family:OpenSans;
	src:url(../fonts/OpenSans-LightItalic.ttf);
	font-weight:300;
	font-style:italic;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.category-select {
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		padding: 1rem 0;
	}
}

/* classes add or included in JS */
.padding-sm {
	padding: 0.5em;
}

.nav-post-select {
	height: 20vh;
	transition: $transition-regular;
	min-height: 260px;
}

.text-section {
	background-color: rgba(0,0,0,.6);
	width: 100%
}

.reduced-logo-height {
	height: 8rem;
	transition: $transition-regular;
}

.top-story {
	width: 100%;
	height: 55vh;
	display: flex;
	align-items: flex-end;
	transition: $transition-regular;
}
.loading {
	position: fixed;
	background: url(../images/loading2.gif) center center / 250px no-repeat , #000;
	z-index:2;
	width: 100%;
	height: 100%;
}

@media only screen and (min-device-width:600px) and (min-width:600px) {

	.top-story {
		width: 33.33%;
		height: 60vh;
		transition: $transition-regular;
	 }

	.flex-row-td {
		flex-direction: row;
	}

	footer {

		p {
			padding-left: 2rem;
		}
	}

	.nav-post-select {
		height: 20vh;
		transition: $transition-regular;
		min-height: 180px;
	 }

}
@media only screen and (min-device-width:1000px) and (min-width:1000px) {

	.top-story {
		width: 25%;
		height: 65vh;
		transition: $transition-regular;

	}

	.justify-flex-start-desktop {
		justify-content: flex-start;
	}

	#logo {
		padding: 1rem 4rem;
	}

	a {
		.text-section {
			opacity: 0;
			transition: $transition-regular;
		}
	}

	a:hover {
		.text-section {
			opacity: 100;
			transition: $transition-regular;
		}
	}
}
.test {
}